

.nav-link{
    color:rgb(48, 66, 85) ;
}

.navbar-light .navbar-brand{
    color:#304255;
}

.jumbotron{
    background-image:url(/Image/portrait.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 800px;
    height: calc(100vh -50px);
    display: flex;
    justify-content: center; 
}
.jumboCopy{
   width: 70%;
   min-width: 700px;
   max-width: 900px;
   color: rgb(48, 66, 85);
   text-align: center;
   background-color: rgb(225, 225, 222);
   position: absolute;
   bottom: 50px;
}
.figure{
    height: 50vw !important; 
   
}

.figure-caption{
   padding: 30px;
   color:#304255; 
   font-size: 20px;
}
.work{
    margin-top: 50px;
}
.container{
    width: 90vw !important;
    padding: 0!important;
}
h2{
    display: center;
}
/* Color */
.colorblock{
    display: grid;
    align-content: center;
    justify-content: center;
}

.tancolor{
    background-color: #D09979;
}
.blue{
    background-color: rgb(58, 145, 176);
}
.color{
    background-color: rgb(130,143,87);
}
 .color1{
    background-color: rgb(128,123,120);
}
hr{
    display: block;
    margin: 100px;
}
/* Buttons */
.btn{
    max-width: 8vw;
    justify-self: center;
    color: white;
}